.container {
    position: relative;
    width: 700px;
    height: 550px;
    border: 1px solid black;
    background-color: #00ffef;
}

.logo {
    position: absolute;
    width: 50px;
    height: 40px;
    border: 3px solid;
    background-image: radial-gradient(#f5f5dc, #ffff00);
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
}

.site-title {
    position: absolute;
    margin-top: 35px;
    margin-left: 130px;
    color: black;
}

.menu {
    position: absolute;
    margin-left: 500px;
    margin-top: 25px;
}

.sidebar {
    position: absolute;
    width: 150px;
    height: 350px;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 120px;
}

.sidebar-item {
    width: 130px;
    height: 100px;
    margin-top: 140px;
    margin-left: 30px;
    border: 1px solid;
    background-image: radial-gradient(#f5f5dc, #ffff00);
    text-align: center;
}

.sidebar-item-small {
    width: 130px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid;
    background-image: radial-gradient(#f5f5dc, #ffff00);
    text-align: center;
}

.main-content {
    position: absolute;
    width: 450px;
    height: 180px;
    border: 2px solid black;
    background-image: radial-gradient(#f5f5dc, #ffff00);
    margin-left: 210px;
    margin-top: -245px;
    text-align: center;
}

.main-content p {
    margin-top: 20px;
}

.index-items {
    position: absolute;
    width: 450px;
    height: 169px;
    border: 2px solid black;
    background-color: #9370db;
    margin-left: 210px;
    margin-top: -63px;
    text-align: center;
}

.footer {
    position: absolute;
    width: 650px;
    height: 30px;
    border: 1px solid black;
    background-image: radial-gradient(#ff0000, #f5f5dc);
    margin-left: 15px;
    margin-top: 140px;
    text-align: center;
}