.container {
    position: relative;
    width: 800px;
    height: 475px;
    margin: 20px auto;
    border: 1px solid #000;
}

/* Header */
.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #aab6c1;
    text-align: center;
    align-content: center;
    line-height: 60px;
    font-weight: bold;
}

/* Boxes */
.box {
    position: relative;
    width: 180px;
    height: 100px;
    color: #000;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    margin-top: 10px;
}

/* First row */
.box1 { background-color: #e57373; margin-left: 10px; }
.box2 { background-color: #aed581; margin-left: 200px; margin-top: -100px; }
.box3 { background-color: #64b5f6; margin-left: 390px; margin-top: -100px; }
.box4 { background-color: #9575cd; margin-left: 580px; margin-top: -100px; }

/* Second row */
.box5 { background-color: #ffb74d; margin-left: 10px; margin-top: 45px; }
.box6 { background-color: #f06292; margin-left: 200px; margin-top: -100px; }
.box7 { background-color: #4dd0e1; margin-left: 390px; margin-top: -100px; }
.box8 { background-color: #fff176; margin-left: 580px; margin-top: -100px; }

/* Footer */
.footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #aab6c1;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-top: 20px;
}